<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538243409391-nqbg4n8b4it3olsjubq6o5bch2317di1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538243409391-nqbg4n8b4it3olsjubq6o5bch2317di1</string>
	<key>API_KEY</key>
	<string>AIzaSyAD-gP3v2iLolbZR0lZ12tg2xGlSbWPcbU</string>
	<key>GCM_SENDER_ID</key>
	<string>538243409391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>ubt-running</string>
	<key>STORAGE_BUCKET</key>
	<string>ubt-running.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538243409391:ios:3a2de24dc586ee7011c21a</string>
	<key>DATABASE_URL</key>
	<string>https://ubt-running.firebaseio.com</string>
</dict>
</plist>